@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
}
@layer base {
  html,
  body {
    font-family: Pretendard;
  }
}

@layer components {
  .heading1-bold {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
  }
  .heading2-bold {
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
  }
  .heading2-semibold {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
  }
  .heading3-bold {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
  }
  .heading3-semibold {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
  }
  .heading4-bold {
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
  }
  .heading4-semibold {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
  }
  .body1-semibold {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
  }
  .body1-medium {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }
  .body1-regular {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  .body2-semibold {
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
  }
  .body2-medium {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
  }
  .body2-regular {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  }
}
